/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-fondo: #171810;
  --color-primario: #03fa6e;
  --color-secundario: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-fondo);
  font-family: "Raleway", sans-serif;
  color: #03fa6e;
}

@media screen and (max-width: 425px) {
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .logo__img {
    display: block;
  }

  /* Nav */

  .links__perfil {
    display: none;
  }

  .link__contacto li {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 500;
  }
  /* Main */

  /* Perfil */
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
  }
  .perfil__foto {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .perfil__paragraph {
    font-size: 1rem;
  }
  .perfil__redes {
    display: flex;
    gap: 20px;
  }
  .perfil__redes a {
    color: var(--color-secundario);
    font-size: 1.4rem;
  }

  /* Secciones */
  .sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--color-secundario);
    text-align: justify;
  }

  h2 {
    font-size: 1.5rem;
    color: var(--color-primario);
  }
  /* Sobre mi */

  /* Skills */

  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  .skills__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .skills__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 45%;
    flex-grow: 1;
    border: 1px solid whitesmoke;
    padding: 10px;
  }
  .skills__items h3 {
    font-size: 1rem;
  }

  /* Formacion */
  .formacion__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .formaciones__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .formaciones__list h3 {
    font-size: 1.2rem;
  }
  .formaciones__list p {
    font-size: 1rem;
  }

  /* Proyectos */
  .proyectos__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .proyecto__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }
  .proyecto__botones {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .boton__item {
    padding: 5px 10px;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    color: var(--color-primario);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
  .boton__item--marcado {
    background-color: var(--color-primario);
    color: var(--color-fondo);
  }
  /* Contacto */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
  }
  .formulario label {
    font-size: 0.8rem;
    color: var(--color-primario);
  }
  .btn__enviar {
    padding: 5px 10px;
    background-color: var(--color-primario);
    border-radius: 5px;
    color: var(--color-fondo);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer p {
  font-size: 0.8rem;
  color: var(--color-secundario);
}
